<br>
<div class="authform">
<!--  <h3>Edit <%= resource_name.to_s.humanize %></h3> -->
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
     <div id='edit-user'>
    <h3>Edit <%= resource_name.to_s.humanize %></h3>
    </div>
<!--    <div class="form-group"> -->
-    <div class="name-group">
      <table>
        <tr><td><%= f.label :name, 'Name: ' %></td><td colspan='2'><%= f.text_field :name, :autofocus => true, class: 'form-control' %></td></tr>
        <tr><td><%= f.label :email, 'Email: ' %></td><td colspan='2'><%= f.email_field :email, class: 'form-control' %></td></tr>
      </table>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <fieldset>
      <p>Leave these fields blank if you don't want to change your password.</p>
      <div class="form-group">
        <table>
          <tr><td><%= f.label :password, 'Password:' %></td><td colspan='2'><%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %></td></tr>
          <tr><td><%= f.label :password_confirmation, 'Confirm  password:' %></td><td colspan='2'><%= f.password_field :password_confirmation, class: 'form-control' %></td></tr>
        </table>
      </div>
    </fieldset>
    <fieldset>
      <p>You must enter your current password to make changes.</p>
      <div class="form-group">
      <table>
        <tr><td><%= f.label :current_password, 'Current password:' %></td><td><%= f.password_field :current_password, class: 'form-control' %></td></tr>
      </table>
      </div>
    </fieldset>
     <div class='btn-center'>
       <%= f.submit 'Update', :class => 'button' %>
     </div>
    <hr class='bline' />
    <div class='h3-up'>
      <h3>Cancel Account</h3>
    </div>
    <fieldset>
    <p>Unhappy? We'll be sad to see you go.</p>
    <div class='btn-center'>
      <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button' %>
    </div>
    </fieldset>
  <% end %>
</div>
