<h4>&nbsp;</h4>
<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <h3>Sign up</h3>
    <%= devise_error_messages! %>
    <div class="form-group">
      <table>
        <tr><td class='lbl'><%= f.label :name %>:</td><td><%= f.text_field :name, :autofocus => true, class: 'form-control' %></td></tr>
        <tr><td class='lbl'><%= f.label :email %>:</td><td><%= f.email_field :email, class: 'form-control' %></td></tr>
        <tr><td class='lbl'><%= f.label :password %>:</td><td><%= f.password_field :password, class: 'form-control' %></td></tr>
        <tr><td class='lbl'><%= f.label :password_confirmation, 'Confirm Password:' %></td><td><%= f.password_field :password_confirmation, class: 'form-control' %></td></tr>
      </table>
    <p><%= f.submit 'Sign up', :class => 'button' %></p>
    </div>
  <% end %>
</div>
