<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Empaws Travel Site" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Empaws Travel Site" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <style type="text/css">
  hr.bline{
  color: black;
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color:#000000;
//  padding-top: 6px;
  height: 1px;
}
</style>
  </head>
  <body class="<%=controller_name%>-<%=action_name%>">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <!--    <main role="main"> -->
       <%= render 'layouts/messages' %>
       <br><br>
       <%= yield %>
       <!--    </main> -->
  </body>
</html>
